body {

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("sea2.png");
    
    }
        #text{
    
            height: 25px;
            border-radius: 5px;
            padding: 4px;
            border: solid thin #aaa;
            width: 100%;
        }
    
        #button{
    
            padding: 10px;
            width: 100px;
            color: white;
            background-color: lightblue;
            border: none;
        }
        h2{
          font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-shadow: 6px 6px 40px blue;
          font-size: 0.8em;}
    
        #box{
            background-color: rgba(146, 156, 177, 0.603);
       border-radius: 10px  ;
            margin: auto;
            width: 600px;
            padding: 20px;
        }
        h3{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-left: 70em;
            position: left;
            text-shadow: 5px 5px 40px blue;
            font-size: 1em;
        
          }
          a{
            text-decoration: none;
          }